<form class="span8 chat" method="post">
  <legend>Chat</legend>
  <ul class="nav nav-tabs">
    <li class="active js-toggle" data-type="private">
      <a href="#">Game</a>
    </li>
    <li class="js-toggle" data-type="public">
        <a href="#">Public</a>
    </li>
  </ul>
  <div class="well well-small chat-private"></div>
  <div class="well well-small chat-public"></div>
  <div class="input-append">
      <input type="text" class="msg input-xxlarge" maxlength="256" placeholder="Type your message here..."><button class="btn">Send!</button>
  </div>
</form>
